#login{
    text-align: center;
    color: red;
    background-color: black;
    margin-top: 100px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
  font-family: 'open Sans',sans-serif;
}
.App{
  display: flex ;
  flex-direction: column ;
  width: 100% ;
  height: 100% ;

}
.page{
  flex-basis: 100% ;
  display: flex ;
  justify-content: center ; 
  align-items: center ;
  transition: margin-left 1s ;
  flex-direction: column;

}
.page-with-navbar{
  margin-left: 18%;
  flex-direction: column;
  display: flex;
}
@media only screen and (max-width:768px){
  
  .page-with-navbar{
    width: 100%;
    margin-left:0;
    
  }
}
.App .container{
  box-sizing: border-box;
  border-color: black;
}
/* .contact{
 

} */